* { box-sizing: border-box; }

/* ROW STYLE */
    /* NORMAL ROW */
        .row {
          overflow: auto;
        }
    /* AFTER ROW */
        .row::after {
            content: "";
            clear: both;
            display: block;
        }
    /* ROW DIMENSIONS */
        .col-1 {width: 8.33%;}
        .col-2 {width: 16.66%;}
        .col-3 {width: 25%;}
        .col-4 {width: 33.33%;}
        .col-5 {width: 41.66%;}
        .col-6 {width: 50%;}
        .col-7 {width: 58.33%;}
        .col-8 {width: 66.66%;}
        .col-9 {width: 75%;}
        .col-10 {width: 83.33%;}
        .col-11 {width: 91.66%;}
        .col-12 {width: 100%;}

/* ALL COLUMNS STYLE */
[class*="col-"] {
  background-color: white;
  border: 1px solid lightgrey;
  padding: 16px;
  float: left;
  width: 100%;
}

img {
  max-width: 100%;
}

.top {
    font-family: helvetica;
    text-transform: uppercase;
    text-align: center;
}

.menu:link {
    font-size: 16px;
    color: grey;
}

.menu:visited {
  color: black;
}

.menu:hover {
  color: purple;
}


/* Style the buttons that are used to open and close the accordion panel */
button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
button.accordion.active, button.accordion:hover {
    background-color: #ddd;
}

/* Style the accordion panel. Note: hidden by default */
div.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
}

.mobile {
    text-align: center;

}

.logo {
    margin-left: auto;
    margin-right: auto;
    float: none !important;
    text-align: center;
}

.name {
    font-size: 18px;
}

hr.style7 {
  border-top: 1px solid #8c8b8b;
  border-bottom: 1px solid #fff;
}

.title {
    font-size: 14px;
}

.navigation {
    float: right;
}

.gallery {
    text-align: center;
}

.footer {
    font-size: 12px;
    margin-top: 50px;
}



/* ABOUT ME */


.prof-pic {
  padding: 20px;
/*  max-width: 450px;
*//*  text-align: center;
*/  margin-left: auto;
  margin-right: auto;
}

.title-about {
    font-size: 15px;
    font-family: helvetica;
    text-transform: uppercase;
}

.small-about {
    font-size: 14px;
    font-family: helvetica;
}

.social {
    text-align: center;
}

.media {
    padding: 20px;
}




/*MEDIA QUERIES*/

    /** Mobile Media Queries -----------------*/

        @media screen and (min-width: 768px) {
          [class*="col-"] {
            background-color: white;
            border: 1px solid lightgrey;
          }
              .col-1 {width: 8.33%;}
              .col-2 {width: 16.66%;}
              .col-3 {width: 25%;}
              .col-4 {width: 33.33%;}
              .col-5 {width: 41.66%;}
              .col-6 {width: 50%;}
              .col-7 {width: 58.33%;}
              .col-8 {width: 66.66%;}
              .col-9 {width: 75%;}
              .col-10 {width: 83.33%;}
              .col-11 {width: 91.66%;}
              .col-12 {width: 100%;}

          [class*="col-"] {
            float: left;
          }
        }
           
           .navigation {
            visibility: hidden;
           } 

           .title-about {
            text-align: center;
           }

        }

        @media (min-width: 400px) {
          
        }

    /** Tablet Media Queries -----------------*/
        @media (min-width: 768px) {
            .navigation {
            visibility: visible;
            } 

            .menu-tab {
              visibility: hidden;
            }

            .col-1 {width: 8.33%;}
            .col-2 {width: 16.66%;}
            .col-3 {width: 25%;}
            .col-4 {width: 33.33%;}
            .col-5 {width: 41.66%;}
            .col-6 {width: 50%;}
            .col-7 {width: 58.33%;}
            .col-8 {width: 66.66%;}
            .col-9 {width: 75%;}
            .col-10 {width: 83.33%;}
            .col-11 {width: 91.66%;}
            .col-12 {width: 100%;}

            .title-about {
            text-align: left;
            }


        }

    /** Desktop Media Queries ----------------*/
        @media (min-width: 992px) {
          
        }

    /** Super Desktop Media Queries -----------*/
        @media (min-width: 1200px) {
            
        }

/* END MEDIA QUERIES */