* { box-sizing: border-box; }



/* ROW STYLE */
    /* NORMAL ROW */
        .row {
          overflow: auto;
        }
    /* AFTER ROW */
        .row::after {
            content: "";
            clear: both;
            display: block;
        }
    /* ROW DIMENSIONS */
        .col-1 {width: 8.33%;}
        .col-2 {width: 16.66%;}
        .col-3 {width: 25%;}
        .col-4 {width: 33.33%;}
        .col-5 {width: 41.66%;}
        .col-6 {width: 50%;}
        .col-7 {width: 58.33%;}
        .col-8 {width: 66.66%;}
        .col-9 {width: 75%;}
        .col-10 {width: 83.33%;}
        .col-11 {width: 91.66%;}
        .col-12 {width: 100%;}

/* ALL COLUMNS STYLE */
[class*="col-"] {
  background-color: white;
  border: 0.5px solid lightgrey;
  padding: 16px;
  float: left;
  width: 100%;
}

img {
  max-width: 90%;
}

.top {
    font-family: helvetica;
    text-transform: uppercase;
    text-align: center;
}

.menu:link {
    font-size: 16px;
    color: grey;
}

.menu:visited {
  color: black;
}

.menu:hover {
  color: purple;
}

/* MENU ACCORDIAN BUTTON */
button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    display: flex;
    justify-content: center;
    border: none;
    outline: none;
}

/* ACTIVE ACCORDIAN BUTTON */
button.accordion.active, button.accordion:hover {
    background-color: #ddd;
}

/* HIDDEN ACCORDIAN */
div.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
}

div.panel.active {
    
}

.mobile {
    text-align: center;
}

/* LOGO STYLE */
.logo {
    display: flex;
    justify-content: center;
/*    margin-left: auto;
    margin-right: auto;
    float: none !important;
    text-align: center;
*/}

.name {
    font-size: 18px;
}

hr.style7 {
  border-top: 1px solid #8c8b8b;
  border-bottom: 1px solid #fff;
}

.title {
    font-size: 14px;
}

.navigation {
    float: right;
}

.gallery-row {
    margin-left: 20px;
    margin-right: 20px;
}

.gallery {
    text-align: center;
    text-transform: uppercase;
    font-family: helvetica;
    font-size: 14px;
    max-width: 350px;
    min-width: 100px;
}


.footer {
    font-size: 12px;
    margin-top: 50px;
}


/* SOME FLEXBOX (not all) */

.gallery-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

/* Find other flexbox in media queries*/




/* ABOUT ME */


.prof-pic {
  padding: 20px;
  max-width: 450px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.title-about {
    font-size: 15px;
    font-family: helvetica;
    text-transform: uppercase;
}

.small-about {
    font-size: 14px;
    font-family: helvetica;
}

.social {
    text-align: center;
}

.media {
    padding: 20px;
}




/*MEDIA QUERIES*/

    /** Mobile Media Queries -----------------*/

        @media screen and (min-width: 768px) {
          [class*="col-"] {
            background-color: white;
            border: 1px solid lightgrey;
          }
              .col-1 {width: 8.33%;}
              .col-2 {width: 16.66%;}
              .col-3 {width: 25%;}
              .col-4 {width: 33.33%;}
              .col-5 {width: 41.66%;}
              .col-6 {width: 50%;}
              .col-7 {width: 58.33%;}
              .col-8 {width: 66.66%;}
              .col-9 {width: 75%;}
              .col-10 {width: 83.33%;}
              .col-11 {width: 91.66%;}
              .col-12 {width: 100%;}

          [class*="col-"] {
            float: left;
          }
        }
           
           .navigation {
            visibility: hidden;
            height: none;
           } 

           .title-about {
            text-align: center;
           }



        }

        @media (min-width: 400px) {
            .gallery {
              max-width: 30%;
            }

        }

    /** Tablet Media Queries -----------------*/
        @media (min-width: 768px) {
            .navigation {
            visibility: visible;
            } 

            .menu-tab {
              visibility: hidden;
              height: none;
            }

            .col-1 {width: 8.33%;}
            .col-2 {width: 16.66%;}
            .col-3 {width: 25%;}
            .col-4 {width: 33.33%;}
            .col-5 {width: 41.66%;}
            .col-6 {width: 50%;}
            .col-7 {width: 58.33%;}
            .col-8 {width: 66.66%;}
            .col-9 {width: 75%;}
            .col-10 {width: 83.33%;}
            .col-11 {width: 91.66%;}
            .col-12 {width: 100%;}

            .title-about {
            text-align: left;
            }

            .gallery {
            max-width: 50%;
          }



        }

    /** Desktop Media Queries ----------------*/
        @media (min-width: 992px) {
          
            .gallery {
            max-width: 400px;
          }

        }

    /** Super Desktop Media Queries -----------*/
        @media (min-width: 1200px) {
            
        }

/* END MEDIA QUERIES */