.wrapper {
    background-color: white;
}

.banner {
    width: 100%;
    height: 40px;
    background-color: black;
    color: white;
    font-family: arial;
    font-style: italic;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 23%;
    padding-bottom: 19%;
    font-size: 1.5rem;
    display: block;
}

.banner:hover {
    color: lightblue;
    font-size: 1.7rem;
}

.group {
    padding-top: 10px;
}

.sub {
    background-color: black;
    color: lightblue;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-left: 20%;
    position: relative;
    width: 60%;
    border-radius: 10px;
    font-family: arial;
}

.sub:hover {
    background-color: blue;
}

    .footer {
        height: 15%;
        width: 100%;
        margin-top: 1rem;
        background-color: black;
        padding: 2rem;

    }




/*MEDIA QUERIES*/
    /** Mobile Media Queries -----------------*/
    @media (min-width: 400px) {
        .wrapper {
            background-color: grey;
        }

        .banner {
            background-color: grey;
        }
        }

    /** Tablet Media Queries -----------------*/
    @media (min-width: 768px) {
        .wrapper {
            background-color: grey;
        }
        .banner {
            background-color: black;
        }

        }

    /** Desktop Media Queries ----------------*/
    @media (min-width: 992px) {
        .wrapper {
            background-color: grey;
        }
        .banner {
            background-color: black;
        }

        .sub {
            border-radius: 30px;
        }

        }

    /** Super Desktop Media Queries -----------*/
    @media (min-width: 1200px) {

        }